/* App.css */
body, html, #root, .App {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  background-color: #111; /* Dark background */
  color: #f0f0f0; /* Light text for contrast */
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

.content {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
